
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

.header{
    width: 100vw;    
    padding: 30px;
    background-color: #ffff;
    display: inline-flex;
    align-items:center;
    justify-content: space-between; 
    padding-left: 72px;
    
    
}

#entrar{
    background-color:#ffffff;
    width: 150px;
    height: 44px;
    color:#304f8c;
    border-color:#304f8c;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    border:solid 1px;
    

}

.hero{
    width: 100vw;
    height: 521px;
    background-color: #ffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    padding-bottom: 150px;
    padding-left: 72px; 

}
.hero-menu{   
    width: 100vw;
    height: 124px;
    display: inline-flex;
    justify-content: space-around;  
    padding-top: 40px;
      
}

.heromenu{    
    display: inline-flex;    
}
#solucao h4{
    padding-right: 15px;
}
#Plataforma p{
    padding-right:78px;
}
#Segurança p{
    padding-right: 11px;
}
.heromenu p{
    color:#4c5d73;
}



.heromenu h4{    
    padding-right: 55px;
    
}

#queroconhecer{
    margin-top: 32px;
    background-color:#304f8c;
    width: 250px;
    height: 60px;
    color: #ffffff;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    
}

.submenu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 9px;
    font-size: 17px;
    
      
}

.inf-img{
   
    width: 100vw;
    display: inline-flex;
    justify-content: space-between ;
    
    
}

.inf_inicial{
    padding-bottom:px;
    margin-top: 167px;
    margin-left: 30px;
    width: 532px;
    height: 349px;
    
}

.inf_inicial p{  
    margin-top: 16px;  
    color:#4c5d73;
    font-size: 16px;

}

.heroimg img{
    margin-top: 127px;
    width: 432px;
    height: 349px;
    margin-right: 72px;
    

}


.menu{
    margin-left: 130px;
    display:inline-flex;
    width: 600px;
    height: 19px;
}

.menu a{
    color:#4c5d73;
    text-decoration: none;
    font-size: 16px;
    width: 100px;
    height: 20px;  
    margin-right: 40px;
    display:inline-flex; 
}

.menu-s{
    width: 75px;
    height: 19px;
}

.cadastre-se a{
    color:#304f8c;
    text-decoration: none;
    font-weight: 500;
    padding:30px;
}


.footer{
    width: 100vw;
    height: 351px;
    background-color:#111826;  
    border:solid red;
}


.comentarios{
    width: 770px;
    height: 425.8px;
    
}

.planos{
    width: 1135px;
    height: 454px;
   
}

.atuacao{
    width: 1155px;
    height: 424px;
    
}

.sobrenos{
    width: 1265.12px;
    height: 777.27px;
    
}

.servicos{
    width: 100vw;
    height: 424px;
    font-weight: 400;    
    margin-top: 88px;
    border:solid; 
    padding-left: 72px;  
    padding-top: 0px;
}
.servicos h1{
    font-size: 32px;
    font-weight: 500;
    padding-top: 15px;
}

#titulo{
    color:#4c5d73;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}

.servi-menu{   
    width: 100vw;
    height: 208px;
    display: inline-flex;
    justify-content: space-around;  
    margin-top: 48px;
   
      
}
.servimenu{    
    display: flex;
    flex-direction: column;
    width: 268px;
    height: 208px;
    border: solid; 
      
    
}

.servimenu img{
    width: 68px;
    height: 68px;
    margin-top: 20px;
    margin-left: 24px;
}
.servimenu p{
    color:#4c5d73;
    font-size: 14px;
}
.servicos h4{
    padding-top: 15px;
    font-size: 17px;
    font-weight: 700;
    
}






